
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/node_modules
/.pnp
.pnp.js
.pnp.js
.pnp.cjs
.yarn/*
!.yarn/cache
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.yarnrc.yml
.yarn-integrity
**/node_modules
**/npm-debug.log*
**/yarn-error.log*
.env
